extends layout

block content
  h1= msg
  div#content
    - if(docs.length == 0){
      form(method='post',action='/')
        input(type='hidden', name='logout', value="false")
        table
          tr
            th ユーザーID
          tr
            td
              input(type='text', name='user_id')
          tr
            td
              input(type="submit" value="ログイン")
    - }else{
        table
          tr
            td
              form(method='post',action='/')
                input(type='hidden', name="")
                input(type='hidden', name='logout', value="true")
                input(type="submit" value="ログアウト")
            td
              form(method='get',action='/')
                input(type="submit" value="更新")
    - }
    hr
    input(type="button" onClick='send("hoge","こんにちわ","images/happy.png")')
    - if(docs.length != 0){
      form(method='post',action='tweetCheck')
        table
          tr
            td
              img(src="images/happy.png", width="32", height="32")
            td
              img(src="images/good.png", width="32", height="32")
            td
              img(src="images/fine.png", width="32", height="32")
            td
              img(src="images/bad.png", width="32", height="32")
            td
              img(src="images/sad.png", width="32", height="32")
          tr
            td
              input(type="radio" name="feeling" value="happy")
            td
              input(type="radio" name="feeling" value="good")
            td
              input(type="radio" name="feeling" value="fine" checked)
            td
              input(type="radio" name="feeling" value="bad")
            td
              input(type="radio" name="feeling" value="sad")
        input(type='hidden', name='id', value="#{id}")
        input(type='text', size=100, name="tweet")
        input(type="submit" value="つぶやく")
      hr
      table(border="1")
        tr
          th.date 更新日時
          th.face 気分
          th.pict 名前
          th.tweet つぶやき
          - i = 0;
          each d in docs
            tr
              td #{d.tweet[0].date}
              td 
                  img(src="images/#{d.tweet[0].feeling}.png", width="32", height="32")
              td
                  form(action="personal", method="post")
                    input(type="submit", value="#{d.name}")
                    input(type="hidden", value="#{d._id}", name="db_id")
              td #{d.tweet[0].word}
            - i++;
    - }else{
      div 新規登録される方はこちら
      br
      div
        form(action="/confirm", method="post")
          table
            tr
              td 新規ユーザーID
              td
                input("text", name="new_id")
            tr
              td 表示名
              td 
                input("text", name="new_name")
          input(type="submit" value="Sign-in")
    - }
