extends layout

block content
  h1 全体の最新
  div#content
    table(border="1")
      tr
        th.date 更新日時
        th.face 気分
        th.pict 名前
        th.tweet つぶやき
        - i = 0;
        each d in docs
          tr
            td #{d.tweet[0].date}
            td 
                img(src="images/#{d.tweet[0].feeling}.png", width="32", height="32")
            td
                form(action="personal", method="post")
                  input(type="submit", value="#{d.name}")
                  input(type="hidden", value="#{d._id}", name="db_id")
            td #{d.tweet[0].word}
          - i++;
