extends layout

block content
  h1= title
  p Welcome to #{title}
  div#content
    div #{docs[0]}
    div #{docs.length}
    table(border="1")
      tr
        th.date 更新日時
        th.pict 名前
        th.tweet つぶやき
        - i = 0;
        each d in docs
          tr
            td #{d.tweet[(d.tweet.length-1)].date}
            td 
              div
                img(src="images/#{d.tweet[(d.tweet.length-1)].feeling}.png")
              div #{d.name}
            td #{d.tweet[(d.tweet.length-1)].word}
          - i++;
